html
  head
    //- link(src=require('../sass/index.sass'))
  body
    div
    div.canvas-container
      canvas.canvas(id="canvas-raw" width="300" height="300")  
      canvas.canvas(id="canvas-redraw" width="300" height="300")
      canvas.canvas(id="canvas-final-draw" width="300" height="300")